.ct-html {

}

.ct-body {
  background-color: rgba(192, 192, 192, 0.5);
}

.ct-header {
  background-color: rgba(150, 189, 182, 0.5);
}

.ct-footer {
  background-color: rgba(150, 189, 182, 0.5);
}

.ct-wrapper {
  max-width: 1280px;
  width: 100%;
}

.ct-outer-container {

}

.ct-container {

}

.ct-content {
  min-width: 320px;
}

.ct-posts {

}

.ct-sidebar {

}
